/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
.container {
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

/* HEADER */
body > header {
    padding: 15px;
}

header > div > * {
    padding: 5px;
}

.side-element {
    width: 20%;
}

.side-element.right {
    text-align: right;
}

nav {
    width: 60%;
    text-align: center;
}

nav li {
    display: inline-block;
}

/* ------- MAIN ------- */

/* HEADER DEL MAIN */
main header {
    padding: 30px 0;
    justify-content: center;
}

/* SEZIONI */
main > section {
    padding: 30px 0;
}

main > section:nth-of-type(even) {
    background-color: lightgray;
}

.image-box {
    width: 60%;
}

.text-box {
    width: 40%;
}

/* FOOTER */
footer {
    background-color: #23272A;
    padding: 10px 0;
}

footer > hr {
    margin: 20px 0;
}

.social-box {
    width: calc(100% / 3);
}

.list-box {
    width: calc(100% / 3 * 2); 
}

.list-box div {
    width: calc(100%/4);
}

.end-of-page {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}



















/* DEBUG */
.debug header {
    background-color: lightblue;
}

.debug header div div,
.debug header div nav {
    background-color: goldenrod;
    border: 1px dashed black;
}

.debug main header {
    background-color: blue;
}

.debug main header div {
    background-color: #EE82EE;
    border: 1px dashed black;
    min-height: 300px;
    width: 700px;
}

.debug .text-box,
.debug .image-box
 {
    border: 1px dashed black;
    min-height: 300px;
}

.debug .image-box {
    background-color: #1E90FF;
}

.debug .text-box {
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.debug main section:last-child div div{
    background-color: green;
    border: 1px dashed black;
    min-height: 500px;
}

.debug .social-box{
    background-color: #F08080;
    border: 1px dashed black;
    min-height: 300px;
}

.debug .list-box div {
    background-color: #20B2AA;
    border: 1px dashed white;
    min-height: 300px;
}

.debug .end-of-page {
    background-color: #7FFFD4;
}

.debug .end-of-page-element {
    background-color: #FFB6C1;
    border: 1px dashed black;
    padding: 5px;
}

